{% extends 'main/base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.string }}<br>
        <button type="submit" class="btn btn-success">Найти</button>
    </form>
    {% if message %}
        <div class="alert alert-danger mt-2">
            {{ message }}
        </div>
    {% endif %}
    {% if orders %}
        {% for el in orders %}
            <div class="alert alert-warning mt-2">
                <h3>Заказ {{ el.uuid }}</h3>
                <p>{{ el.status }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
