{% extends 'main/base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}
    <h1>Порверьте ваш заказ</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.string }}<br>
        <button type="submit" class="btn btn-success">Найти</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger mt-2">
            {{ error_message }}
        </div>
    {% endif %}
    {% if orders %}
        {% for el in orders %}
            <div class="alert alert-warning mt-2">
                <h3>Заказ {{ el.uuid }}</h3>
                <p>Посылка отправляется из города: {{ el.start_city }} в город {{ el.end_city }}</p>
                <p>Текущее местоположение: {{ el.current_city }}</p>
                <p>Дата создания заказа: {{ el.create_date }}</p>
                <p>Заказ будет исполнен до: {{ el.delivery_date }}</p>
                <p>Статус заказа: {{ el.status }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
